<!-- <p>contact-page works!</p>
<a href="mailto:amir2000-0002@gmail.com">mail</a> -->
<section id="contact">
    <div class="inner">
        <div class="column">
            <div class="column__group social-column">
                <div class="title">
                    Contact form
                </div>
                <button class="mail-btn">
                    <a href="mailto:'contact@amir4rab.com'">Mail</a>
                </button>
            </div>
        </div>
        <div class="column">
            <div class="column__group social-column">
                <div class="title">
                    My pages
                </div>
                <button class="mail-btn">
                    <a href="https://github.com/amir4rab" target="_">Github</a>
                </button>
                <button class="mail-btn">
                    <a href="https://codepen.io/amir4rab" target="_">Codepen</a>
                </button>
                <button class="mail-btn">
                    <a href="https://dribbble.com/amir4rab" target="_">Dribbble</a>
                </button>
            </div>
        </div>
    </div>
</section>