@import '../../../scss/style.scss';

.content{
    width: 80vh;
    margin:  0 auto;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    .title{
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        color: $light;
    }
    .buttons-section{
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        
        button{
            font-size: 1.2rem;
            font-weight: 700;
        }
        .primary{
            margin-right: .5rem;
            background-color: $light;
            color: $mainBg;
            &:hover{
                background: darken($light , 5%);
            }
            &:active{
                background: darken($light , 15%);
            }
        }
        .darken{
            background-color: $secBg;
            color: $light;
            &:hover{
                background: lighten($secBg , 5%);
            }
            &:active{
                background: lighten($secBg , 15%);
            }
        }
    }
}

@media ( max-width: 650px ) {
    .content{
        .title{
            font-size: 1.75rem;
            padding: 0 1rem;
        }
        .buttons-section{
            button{
                font-size: .9rem;
            }
        }
    }
}
@media ( max-width: 450px ) {
    .content{
        .title{
            font-size: 1.5rem;
        }
        .buttons-section button{
            font-size: .7rem;
        }
    }
}