@import '../../../../scss/style.scss';
.project-section{
    height: 80vh;
    min-width: 80vw;
    color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .details{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        flex-direction: column;

        height: 50%;
        width: 60%;
        padding-left: .25rem;

        text-align: left;

        .title{
            font-size: 3rem;
            padding-bottom: 1rem;
        }
        .about{
            padding-top: 2rem;
            &__title{
                font-weight: 700;
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
            &__content{
                color: $light;
            }
        }
        .technologies{
            padding-top: 2rem;
            &__title{
                font-weight: 700;
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
            &__content{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                .item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    flex-direction: column;
                    &:not(:last-child){
                        margin-right: 1rem;
                    }
                    .name{
                        font-size: .85rem;
                        padding-top: .5rem;
                    }
                    img{
                        width: 2.5rem;
                        height: 2.5rem;
                        opacity: .8;
                        transition: opacity .3s ease-in-out;
                        &:hover{
                            opacity:1;
                        }
                    }
                }
            }
        }
        .button-section{
            flex-grow: 1;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            align-content: center;
            width: 50%;
            margin-right: auto;
            .primary{
                background: $light;
                a{
                    color: $mainBg;
                }
            }
            .secondary{
                background: $highlights;
                a{
                    color: $light;
                }
            }
            button{
                padding: 0;
                padding: .5em 0;
                a{
                    text-decoration: none;
                    padding: .5em 3.5em;
                    font-size: 1rem;
                    font-weight: 700;
                }
                &:not(:last-child){
                    margin-right: 2rem;
                }
            }
        }
    }
    .img{
        width: 40%;
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
        align-items: center;
        align-content: center;
        img{
            height: 60vh;
            object-fit: scale-down;
            transform: rotateZ(2deg);
            filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.1));
        }
    }
}
@media ( max-width: 650px ) {
    .project-section{
        height: 65vh;
        .details{
            padding-bottom: 1.5rem;
            justify-content: space-between;
            //salign-content: space-between;
            height: 100%;
            width: 80%;
            .title{
                font-size: 2rem;
                padding-bottom: .75rem;
            }
            .about{
                &__title{
                    font-size: 1.2rem;
                    padding-bottom: .25rem;
                }
            }
            .technologies{
                //width: 80vw;
                &__title{
                    font-size: 1.2rem;
                    padding-bottom: .25rem;
                }
                &__content{
                    max-width: 100%;
                    overflow: hidden;
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    margin-bottom: 1.5rem;
                    .item img{
                            display: none;
                    }
                }
            }
            .button-section{
                width: 100%;
                margin-right: 0;
                button a{
                        padding: .5em 1.5em;
                        font-size: .8rem;
                }
            }
        }
        .img{
            display: none;
        }
    }
}