@import '../../../../scss/style.scss';
.project-section{
    border: .1rem solid #ff0000;
    z-index: 10000;

    padding: 0 10vh;
    height: 100vh;
    color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .details{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        flex-direction: column;

        height: 50%;
        width: 60%;

        padding-left: 15vh;
        text-align: left;

        .title{
            font-size: 3rem;
            padding-bottom: 1rem;
        }
        .about{
            padding-top: 2rem;
            &__title{
                font-weight: 700;
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
            &__content{
                color: $light;
            }
        }
        .technologies{
            padding-top: 2rem;
            &__title{
                font-weight: 700;
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
            &__content{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                .item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    flex-direction: column;
                    &:not(:last-child){
                        margin-right: 1rem;
                    }
                    .name{
                        font-size: .85rem;
                        padding-top: .5rem;
                    }
                    img{
                        width: 2.5rem;
                        height: 2.5rem;
                        opacity: .8;
                        transition: opacity .3s ease-in-out;
                        &:hover{
                            opacity:1;
                        }
                    }
                }
            }
        }
        .button-section{
            flex-grow: 1;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            align-content: center;
            width: 50%;
            margin-right: auto;
            .primary{
                background: $light;
                a{
                    color: $mainBg;
                }
            }
            .secondary{
                background: $highlights;
                a{
                    color: $light;
                }
            }
            button{
                padding: 0;
                padding: .5em 0;
                a{
                    text-decoration: none;
                    padding: .5em 3.5em;
                    font-size: 1rem;
                    font-weight: 700;
                    //background-color: #ff0000;
                }
            }
        }
    }
    .img{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        img{
            height: 60vh;
            object-fit: scale-down;
            transform: rotateZ(2deg);
            filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.1));
        }
    }
}