<div class="project-section">
    <div class="details">
        <h2 class="title">
            {{pData.title | uppercase}}
        </h2>
        <div class="about">
            <div class="about__title">
                About
            </div>
            <div class="about__content">
                {{pData.aboutShort}}
            </div>
        </div>
        <div class="technologies">
            <div class="technologies__title">
                Technologies
            </div>
            <div class="technologies__content">
                <div class="item" *ngFor="let item of pData.technologies" >
                    <img [src]="item.imageUrl" [alt]="item.name">
                    <div class="name">{{item.name}}</div>
                </div>
            </div>
        </div>
        <div class="button-section">
            <button class="primary">
                <a [href]="pData.githubLink" target="_">Code</a>
            </button>
            <button class="secondary">
                <a [href]="pData.liveDemoLink" target="_">Demo</a>
            </button>
        </div>
    </div>
    <div class="img">
        <img [src]="pData.imageUrl" alt="">
    </div>
</div>