<nav class="navbar-top">
    <div class="navbar-links">
        <a [ngClass]="activeLink === 'home' ? 'active':'-'"  (click)="scrollToEl('#home')">Home</a>
        <a [ngClass]="activeLink === 'projects' ? 'active':'-'"  (click)="scrollToEl('#projects')">Projects</a>
        <a [ngClass]="activeLink === 'about' ? 'active':'-'"  (click)="scrollToEl('#about')">About me</a>
        <a [ngClass]="activeLink === 'contact' ? 'active':'-'"  (click)="scrollToEl('#contact')">Contact</a>
    </div>
    <div class="select-section">
        <button [routerLink]="['/','en']" [routerLinkActive]="['active']">
            En
        </button>
        <button [routerLink]="['/','de']" [routerLinkActive]="['active']">
            De
        </button>
        <button [routerLink]="['/','fa']" [routerLinkActive]="['active']">
            Fa
        </button>
    </div>
</nav>