<nav class="navbar-top">
    <div class="navbar-links">
        <a [ngClass]="activeLink === 'home' ? 'active':'-'"  href="#home">Home</a>
        <a [ngClass]="activeLink === 'projects' ? 'active':'-'"  href="#projects">Projects</a>
        <a [ngClass]="activeLink === 'about' ? 'active':'-'"  href="#about">About me</a>
        <a [ngClass]="activeLink === 'contact' ? 'active':'-'"  href="#contact">Contact</a>
    </div>
    <div class="select-section">
        <button class="active">
            En
        </button>
        <button>
            De
        </button>
        <button>
            Fa
        </button>
    </div>
</nav>