<section id="about">
    <div class="inner">        
        <div class="column">
            <div class="column__group">
                <div class="title">
                    Education
                </div>
                <div class="text">
                    bachelor degree in computer engineering from <a href="https://en.wikipedia.org/wiki/Islamic_Azad_University" target="_">iau</a>.
                </div>
            </div>
            <div class="column__group">
                <div class="title">
                    Language skills
                </div>
                <div class="text">
                    German: A1.1
                </div>
                <div class="text">
                    English: fluent
                </div>
                <div class="text">
                    Persian( Farsi ): Native
                </div>
            </div>
            <div class="column__group">
                <div class="title">
                    Other skills
                </div>
                <div class="text">
                    Semi knowledge of Figma, Adobe photoshop and Adobe premiere pro.
                </div>
            </div>
        </div>
        <div class="column">
            <div class="column__group">
                <div class="title">
                    Programing skills
                </div>
                <div class="semi-title">
                    Advance
                </div>
                <div class="text">
                    Javascript, Css, Scss, Html
                </div>
                <div class="semi-title">
                    Intermediate
                </div>
                <div class="text">
                    typescript
                </div>
                <div class="semi-title">
                    Beginner
                </div>
                <div class="text">
                    Angular
                </div>
            </div>
        </div>
    </div>
</section>
