<section id="about">
    <div class="inner">        
        <div class="column">
            <div class="column__group">
                <div class="title">
                    {{langData.education}}
                </div>
                <div class="text">
                    {{langData.educationText}}
                </div>
            </div>
            <div class="column__group">
                <div class="title">
                    {{langData.languageSkills}}
                </div>
                <div class="text" *ngFor="let lang of langData.languageSkillsText">
                    {{lang}}
                </div>
            </div>
            <div class="column__group">
                <div class="title">
                    {{langData.otherSkills}}
                </div>
                <div class="text">
                    {{langData.otherSkillsText}}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="column__group">
                <div class="title">
                    {{langData.programingSkills}}
                </div>
                <div class="semi-title">
                    {{langData.programingSkillsAdvance}}
                </div>
                <div class="text">
                    Javascript, Css, Scss, Html
                </div>
                <div class="semi-title">
                    {{langData.programingSkillsIntermediate}}
                </div>
                <div class="text">
                    typescript
                </div>
                <div class="semi-title">
                    {{langData.programingSkillsBeginner}}
                </div>
                <div class="text">
                    Angular
                </div>
            </div>
        </div>
    </div>
</section>
