//** Global Colors **//
$mainBg: #2C3E50;
$secBg: #34495E;
$highlights: #2980B9;
$light: #ECF0F1;

//** styling for pages **//
.inner{
    width: 80%;
    height: 60%;
    margin: 0 auto;
    color: $light;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    .column{
        flex-grow: 1;
        &__group{
            &:not(:first-child) .title{
                padding: 2rem 0;
            }
            .title {
                font-size: 2.5rem;
                font-weight: 700;
                padding-bottom: 2rem;
            }
            .text {
                padding-bottom: .5rem;
                a{
                    color: inherit;
                    font-weight: 700;
                }
            }
            .semi-title {
                font-size: 1.5rem;
                font-weight: 700;
                padding: 1rem 0;
            }
        }
        &__group.social-column{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            button{
                background:$highlights;
                width: 20vh;
                min-width: 10rem;
                border-radius: .25rem;
                transition: background .3s ease-in-out;

                &:hover{
                    background: darken($highlights , 5%);
                }
                
                a{
                    text-decoration: none;
                    font-size: 1rem;
                    color: $light;
                }

                &:not(:last-child){
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

@media ( max-width: 650px ) {
    .inner{
        height: 80%;
        justify-content: space-between;
        .column{
            max-width: 35vw;
            &__group{
                .title {
                    font-size: 1.25rem;
                    padding-bottom: 1rem;
                    max-width: 35vw;
                    line-break: strict;
                }
                .text {
                    font-size: .9rem;
                }
                .semi-title {
                    font-size: 1rem;
                }
            }
            &__group.social-column{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
    
                button{
                    background:$highlights;
                    width: 100%;
                    min-width: auto;
                    border-radius: .25rem;
                    transition: background .3s ease-in-out;
    
                    &:hover{
                        background: darken($highlights , 5%);
                    }
                    
                    a{
                        text-decoration: none;
                        font-size: 1rem;
                        color: $light;
                    }
    
                    &:not(:last-child){
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}